#p1{
    font-size: large;
    text-shadow: 3px 3px;
    
}
#p2{
    font-size: large;
    text-shadow: 4px 4px red;

}
#p3{
    font-size: large;
    text-shadow: 4px 4px 3px red;
}

.box1{
    background-color: aqua;
    width: 200px;
    height: 200px;
    color: red;
    
    /* Default color of shadow is text color */
    box-shadow:10px 10px;
    
}
.box2{
    background-color: aqua;
    width: 200px;
    height: 200px;
    color: red;

    /* Color of shadow can be change*/
    box-shadow:10px 10px green;

   

   
}
.box3{
    background-color: aqua;
    width: 200px;
    height: 200px;
    color: red;

     /* for blur effect */
     box-shadow: 10px 10px 15px green;

}
.box4{
    background-color: aqua;
    width: 200px;
    height: 200px;
    color: red;
    
      /* For multiple shadows */
    /* box-shadow: 10px 10px 15px green, 15px 10px 15px brown; */
    box-shadow:10px 10px 10px 9px brown;

}