*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden; 
    flex-wrap: wrap;
}

.container{
    background-image:url(Nilesh.jpeg);
    width:100vh;
    height:800px;
    background-size: cover;
    
}


.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}


.username{
    font-size: 20px;
    font-weight: 500;
}

.nav-items{
    display: flex;
    gap: 2rem;
    padding: 0 2rem;
}
.nav-items div a{
    font-size: 20px;
    font-weight: 500;
    color: white;
    text-decoration: none;
}
.nav-items div a:hover{
    font-size: 25 px;
    font-weight:700 ;
}
.nav-content{
    
    
}
