*{
    box-sizing: border-box;
    font-family: cursive;
    margin: 10px;
    padding: 10px;
}

ul li{
    list-style: circle;
    color: magenta;
    background-color:yellow;
}

input::placeholder{
    color: red;
}