.container{
    border: 1px solid black;
    background-color: yellow;
    height: 700px;
    width: 500px;

    display: grid;
    grid-template-rows:30px 1fr 30px ;
    grid-template-columns: 100px 400px;

    grid-gap: 4px;
    grid-template-areas: 
    "hd hd"
    "side main"
    "ft ft";
}
.box{
    border: 1px solid red;
    background-color:aqua;

}
#Header{
    grid-area: hd;
}
#Sidebar{
    grid-area: side;
}
#Content{
    grid-area: main;
}
#Footer{
    grid-area: ft;
}
.ChildGrid{
    height: 100%;
    width: 100%;
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2,1fr);

    grid-gap: 5px;
}

.element{
    border: 1px solid pink;
    background-color: hotpink;
}